:root {
  --primary: #FFF;
  --secondary: #21D07A;
  --danger: #F44D3C;
  --dark: #032541;
  --background: #EEE;
  --text: #000;
  --gray: #DDD;
}

body {
  background: var(--background);
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
}

.navbar {
  background-color: var(--primary);
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 20;
}

.nav-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 64px;
}

.nav-content a {
  color: var(--dark);
  font-size: 1rem;
  text-decoration: none;
}

.nav-logo {
  flex-grow: 1;
}

.nav-logo a {
  color: var(--dark);
  align-items: center;
  cursor: pointer;
  text-decoration: none;

  font-weight: 700;
  font-size: 1.5rem;
}

.nav-logo .fa-bible {
  margin-right: .5rem;
}

.nav-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-menu li {
  display: inline-block;
  margin-left: 2rem;
  font-weight: 700;
}

.nav-menu a:hover {
  opacity: 0.7;
}

.nav-icon {
  display: none;
}

.nav-item .btn {
  padding: 10px 15px;
  background-color: var(--secondary);
  color: var(--primary);
  border-radius: 5px;
  font-weight: 700;
  border: none;
  font-size: 1rem;
  width: 100%;
}

.nav-item .btn:hover {
  background-color: #1aa762;
  opacity: 1;
  cursor: pointer;
}

.current-user {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark);
  font-size: 1rem;
  text-decoration: none;
  border-radius: 50%;
  cursor: pointer;
  margin: 12px 0;
}

.current-user img {
  border-radius: 50%;
  width: 40px;
}

.current-user img:hover {
  opacity: 0.8;
}

.dropdown-content {
  position: absolute;
  transform: translate(-110px);
  background-color: var(--primary);
  width: 150px;
  z-index: 1;
  box-shadow: 0px 16px 16px 0px rgba(0,0,0,.1);
}

.dropdown-content button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  width: 100%;
}

.dropdown-content a {
  color: var(--danger);
  display: block;
  padding: 1rem;
  text-align: center;
}

.dropdown-content a:hover {
  opacity: 1;
  background: var(--dark);
  display: block;
  padding: 1rem;
  color: var(--primary);
}

.dropdown:hover .dropdown-content {
  display: block;
}

input:focus {
  outline: none;
}

.container {
  width: 92%;
  margin-right: auto;
  margin-left: auto;
} 
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

.content {
  max-width: 720px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 768px) {
  .navbar a {
    transition: none;
  }

  .navbar a:hover {
    opacity: 1;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 64px;
    left: -110%;
    opacity: 1;
  }

  .nav-menu.active {
    background: var(--primary);
    left: 0;
    opacity: 1;
    z-index: 1;
    margin-left: 0;
  }

  .nav-menu li {
    margin-left: 0;
    width: 100%;
    height: 100%;
  }

  .nav-menu li a {
    display: block;
    padding: 1rem;
    text-align: center;
  }

  .nav-menu li a:hover {
    background: var(--dark);
    display: block;
    padding: 1rem;
    color: var(--primary);
  }

  .nav-item .btn {
    padding: 1rem;
    border-radius: 0;
  }

  .current-user {
    height: 50px;
    border-radius: 0;
    margin: 0;
  }
  
  .current-user:hover {
    cursor: pointer;
    background: var(--dark);
    color: var(--primary);
    opacity: 1;
  }

  .current-user img:hover {
    opacity: 1;
  }

  .dropdown-content {
    width: 100%;
    transform: translate(0);
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 50%);
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--dark);
  }

  .nav-icon:hover {
    opacity: 0.7;
  }

  .quote-input input {
    margin-bottom: 10px;
    width: calc(100% - 24px);
  }
  
  .quote-input {
    flex-direction: column;
    align-items: stretch;
  }
  
  .quote-input button {
    width: 100%;
  }
}

.banner {
  height: 250px;
  position: relative;
  overflow: hidden;
  background-color: #292937;
  border-radius: 0 0 12px 12px;
}

.banner-image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  background-position: center center;
  background-image: url('https://user-images.githubusercontent.com/43749971/152801149-937043c3-220f-477d-9c24-483f135b0c0f.png');
  z-index: 1;
  background-color: var(--primary);
  opacity: 1;
}

.banner-title {
  position: absolute;
  padding: 24px;
  bottom: -10px;
  width: 100%;
  z-index: 5;
  color: var(--primary);
  font-size: 42px;
  background: -webkit-linear-gradient(bottom,rgba(0,0,0,0),rgba(0,0,0,.6));
  background: -o-linear-gradient(bottom,rgba(0,0,0,0),rgba(0,0,0,.6));
  background: -moz-linear-gradient(bottom,rgba(0,0,0,0),rgba(0,0,0,.6));
  background: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,.6));
}

.quote-input {
  display: flex;
  margin: 24px 0;
}

.quote-input input {
  vertical-align: middle;
  padding: 12px;
  background-color: var(--primary);
  border: 0 solid var(--gray);
  flex-grow: 1;
  border-radius: 5px;
  margin-right: 6px;
}

.quote-input button {
  padding: 10px 15px;
  background-color: var(--secondary);
  color: var(--primary);
  border-radius: 5px;
  /* font-weight: 700; */
  border: none;
  font-size: 1rem;
}

.quote-input button:hover {
  background-color: #1aa762;
  opacity: 1;
  cursor: pointer;
}

.quote-list-empty {
  width: 100%;
  height: calc(100vh - 50px);
  text-align: center;
  margin-top: 64px;
  font-size: 30px;
  color: var(--gray);
}

.quote-list {
  margin: 0;
  padding: 0;
}

.quote-list-result {
  margin: 0 0 15px;
  padding: 75px 40px 15px;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  position: relative;
  color: #000;
  background: var(--primary);
  border-radius: 12px;
}

.quote-list-result:after {
  display: block;
  content: "\201C";
  font-family: georgia,Arial,Verdana;
  font-weight: 700;
  color: var(--background);
  font-size: 120px;
  position: absolute;
  left: 30px;
  margin-left: -20px;
  top: 50px;
  z-index: 2;
}

.quote-list-item {
  position: relative;
  z-index: 3;
}

.quote-list-text {
  display: block;
  text-decoration: none;
  color: #000;
}

.like-quote {
  text-align: center;
  line-height: 21px;
  margin: 0 5px 0 0;
  padding: 7px 10px;
  font-size: 15px;
  font-weight: 300;
  display: inline-block;
  color: var(--danger);
  cursor: pointer;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #e5a59e;
  background-color: #fff;
}

.quote-list-buttons {
  clear: both;
  margin-top: 20px;
}

.quote-list-buttons .like-count {
  margin-left: 4px;
}

.footer {
  display: flex;
  height: 50px;
  width: 100%;
  background-color: var(--primary);
  color: var(--dark);
  text-align: center;
  justify-content: center;
  align-items: center;
}

.footer i {
  color: red;
}

.footer a {
  margin-left: 4px;
}
