:root {
  --primary: #032541;
  --secondary: #21d07a;
  --white: #fff;
}

body {
  background: #eee;
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.btn {
  padding: 10px 15px;
  background-color: var(--secondary);
  color: var(--primary);
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  border: none;
  font-size: 1rem;
  transition: all 0.3s ease;
  line-height: 1.1;
}

.btn:hover {
  background-color: #1aa762;
  opacity: 1;
  cursor: pointer;
}

.btn:disabled {
  pointer-events: none;
  opacity: 0.5;
}

input:focus {
  outline: none;
}

/* Header Styles */
header {
  background-color: var(--primary);
}

header .inner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

header a {
  color: var(--white);
  font-size: 1.25rem;
  text-decoration: none;
  transition: all 0.3s ease;
}

header a:hover {
  opacity: 0.7;
}

header .brand a {
  font-weight: 700;
  font-size: 1.5rem;
}

header .nav-links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

header .nav-links li {
  display: inline-block;
  margin-right: 30px;
}

header .nav-links li:last-child {
  margin-right: 0;
}

.App {
  width: 94%;
  max-width: 500px;
  margin: 0 auto;
}

.TaskInput {
  margin: 20px 0;
}

.TaskInput input {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  border: none;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  background-color: #4a90e2;
}

.TaskInput input::-webkit-input-placeholder {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.TaskList-empty {
  width: 100%;
  text-align: center;
  margin-top: 80px;
  font-size: 30px;
  color: #ddd;
}

.TaskListItem {
  list-style-type: none;
  width: 100%;
  min-height: 50px;
  background: #fff;
  margin-bottom: 10px;
  display: flex;
}

.TaskListItem-checked {
  text-decoration: line-through;
  color: #9b9b9b !important;
}

.TaskListItem span {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 10px 0;
  font-size: 15px;
  color: #4a4a4a;
}

.TaskListItem button {
  border: none;
  background: none;
  padding: 0 10px;
  cursor: pointer;
  color: #ccc;
}

.icon-grey {
  transition: all 0.2s;
  color: #9b9b9b;
}

.icon-grey:hover {
  color: #828282;
}

.icon-red {
  transition: all 0.2s;
  color: #d0011b;
}

.icon-red:hover {
  color: #9d0114;
}

.icon-yellow {
  transition: all 0.2s;
  color: #f8e81c;
}

.icon-yellow:hover {
  color: #dacb07;
}
